OldKicad
Datasheets
DCOVoiceBoard/DCOVoiceBoard-backups
PolySynthMotherboard/PolySynthMotherboard-backups
PolySynthNucleo/.cproject
PolySynthNucleo/Debug
PolySynthNucleo/Drivers/CMSIS
PolySynthNucleo/Drivers/STM32F4xx_HAL_Driver
PolySynthF411/.cproject
PolySynthF411/Debug
PolySynthF411/Drivers/CMSIS
PolySynthF411/Drivers/STM32F4xx_HAL_Driver
VoiceBoardR2/VoiceBoardR2-backups
VideoStuff
Old
Speculation
Panel
PowerSupplyBoard/PowerSupplyBoard-backups
PowerSupplyBoard/PSUGerber
VoiceBoardR3/VoiceBoardGerber
VoiceBoardR3/VoiceBoardR3-backups
VoiceBoardR3/VoiceRev3Gerber.zip
PolySynthSplitBoard/PolySynthMotherboard-backups
PolySynthSplitBoard/PolySynthSplitBoard-backups
PolySynthSplitBoard/SplitBoardGerber
PolySynthSplitBoard/bom
PolySynthSplitBoard/SplitBoardGerber.zip
VoiceBoardR5/VoiceBoardR5-backups
VoiceBoardR5/VoiceBoardGerber
VoiceBoardR5/VoiceBoardGerber.zip
SplitBoardR1/SplitBoardR1-backups
SplitBoard8Voice/SplitBoard8Voice-backups
SplitBoard8Voice/bom
SplitBoard8Voice/SplitBoard8Voice.kicad_pcb
